html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --primary-dark-cyan: #3c8067;
  --primary-cream: #f2ebe3;
  --secondary-very-dark-blue: #1c232b;
  --secondary-dark-blue: #6c7289;
  --secondary-white: #ffffff;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
  --font-fraunces: "Fraunces", system-ui;
}
body {
  font-family: "Montserrat", sans-serif;
}
